.imageBackGround {
    color: whitesmoke;
    width: 100%;
    height: 200px;
    background-image: url("C:/Users/qk-21/Desktop/TaskOne/images/imagesLogin/pngtree-a-.jpg");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    gap: 7px;                           
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

.imageBackGround .text2 {

    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imageBackGround .text2 a {
    color: whitesmoke;
    text-decoration-line: none;
}

/*Style Box login */

.boxlogin {
    margin-top: 100px;
    justify-self: center;
    width: 500px;
    height: 500px;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    box-shadow: 2px 5px 5px darkblue;
    /* border: 1px solid brown; */
}

.boxlogin div p {
    justify-self: center;
    font-size: 30px;
    margin-top: -50px;
}

.boxlogin div .input {
    justify-self: center;
    font-size: 30px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boxlogin div .userInput {
    width: 450px;
    height: 35px;
    border-radius: 7px;
    border-width: 0.1px;
    border-color: black;
}

.boxlogin div .passInput {
    width: 450px;
    height: 35px;
    border-radius: 7px;
    border-width: 0.1px;
    border-color: black;
}
.boxlogin div .input :hover{
    color: blue;
}
.boxlogin .btn button {
    justify-self: center;
    font-size: 30px;
    width: 450px;
   color: whitesmoke;
   background-color: darkblue;
   border-radius: 7px;
    border-width: 0.1px;
    margin-top: 80px;
}
.boxlogin .btn button:hover{
    color: black;
}
.boxlogin hr{
    margin: 50px;
}

.boxlogin .textlasttowButton {
    display: inline-flex;
    gap: 150px;
    justify-items: center;
}
.boxlogin .textlasttowButton a{
    font-size: 20px;
    color: black;
    text-decoration-line: none;
}

.boxlogin .textlasttowButton :hover{
    font-size: 20px;
    color: darkcyan;
    
}